.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 100svh;
}
.content {
  height: 45svh;
  padding: 24px;
  z-index: 1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.video {
  width: 100%;
  position: absolute !important;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover !important;
}
.videoPoster {
  width: 100%;
  position: absolute !important;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -2;
  object-fit: cover !important;
}
.video * {
  object-fit: cover !important;
}
.logoTitle {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.04em;
  line-height: 90%;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 11px;
}
.logo {
  aspect-ratio: 174.48 / 77;
  position: relative;
  width: 174.48px;
}
