.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 100svh;
}
.content {
  height: 45svh;
  padding: 24px;
  z-index: 1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  opacity: 0.87
}
.video {
  width: 100%;
  position: absolute !important;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover !important;
}
.videoPoster {
  width: 100%;
  position: absolute !important;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -2;
  object-fit: cover !important;
}
.video * {
  object-fit: cover !important;
}
.logoTitle {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-top: 9px;
  letter-spacing: -0.02em;
  line-height: 110%;
  text-shadow: 0 0 0.03em #ffffff; /* Adjusted the syntax */
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.logo {
  aspect-ratio: 137.06 / 63.13;
  position: relative;
  width: calc(100% + 30px);
}
